<connectionStrings>
  <add name="MiniDropbox.Local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MiniAmazon;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniDropbox.Remote" connectionString="Server=6c603832-356f-4a23-97dc-a20a015f3313.sqlserver.sequelizer.com;Database=db6c603832356f4a2397dca20a015f3313;User ID=wfeesapelprphiye;Password=jx2YjQELXXywY36kuj2CJoN3CiaVktYuMdSPyqmkQFv4KntGMDqhzCH4R8vaPRAC;"/>
</connectionStrings>