<connectionStrings>
  <add name="MiniDropbox.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniDropbox;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniDropbox.Remote" connectionString="Server=001ce64d-77af-4aa4-8f5d-a21901142c97.sqlserver.sequelizer.com;Database=db001ce64d77af4aa48f5da21901142c97;User ID=ukdenzpnrhsrmzgu;Password=2vvs8GtGECQ7yHb8vN7AvWfyszBLQS2UJbje75CpfHMbmMghqTuX8VAdp68GfPZV;"/>
</connectionStrings>